<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/css/mdb.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <app-navbar></app-navbar>

    <section class="header">

    </section>
    <section class="title animated tada">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center">Enjoy With Different Types Of Coffee</h1>
            <hr>
        </div>
      </div>
    </section>
    <section class="wrapper">
      <div class="container-fostrap">
        <div class="content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="card" animateOnScroll animationName="animated slideInDown">
                  <div class="card-content">
                    <h4 class="card-title">Caffè Americano</h4>
                    <p>
                        You can make this type of coffee quite simply by adding hot water to a shot of espresso coffee.
                         It has been said that American soldiers during the Second World War would make this type of coffee to make their beverages last longer.
                          It was then (apparently) adopted by American baristas after the war.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card" animateOnScroll animationName="animated slideInDown">
                    <div class="card-content">
                      <h4 class="card-title">Café Latte (or Café au lait)</h4>
                      <p>
                          A fairly popular option for coffee drinkers, a latte consists steamed (or scolded) milk and a single shot of coffee.
                           It is usually quite frothy,
                           and you’ll occasionally encounter cafes that don’t understand the difference between this and a flat white.
                      </p>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                  <div class="card" animateOnScroll animationName="animated slideInDown">
                    <div class="card-content">
                      <h4 class="card-title">Cappuccino</h4>
                      <p>
                          Possibly the most popular type of coffee in the world, a cappuccino consists of three layers (kind of like a cake).
                           The first is a shot of espresso, then a shot of steamed milk, and finally the barista adds a layer of frothed, foamy milk.
                            This final layer can also be topped with chocolate shavings or powder.
                           Traditionally, Italians would consume this type of coffee at breakfast.
                      </p>
                    </div>
                  </div>
                </div>
                  <div class="col-xs-12 col-sm-4">
                      <div class="card" animateOnScroll animationName="animated slideInDown">
                        <div class="card-content">
                          <h4 class="card-title">Espresso</h4>
                          <p>
                              To make an espresso, shoot boiling water under high pressure through finely ground up coffee beans and then pour into a tiny mug.
                               Sounds simple right? Well, it’s surprisingly difficult to master.
                                Espressos are the purest coffee experience you can get, and while they’re not for everyone,
                               it can be a truly singular drinking experience when you find a good brew.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" animateOnScroll animationName="animated slideInDown">
                          <div class="card-content">
                            <h4 class="card-title">Flat White</h4>
                            <p>
                                The two most Kiwi coffees available are the long black and the flat white – as both originated in New Zealand and Australia.
                                 For a flat white, the steamed milk from the bottom of the jug (which is usually not so frothy,
                                  but rather creamy) is poured over a shot of espresso.
                                 It is now popular among mums and dads at school fetes who are desperately trying to stay awake.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                          <div class="card" animateOnScroll animationName="animated slideInDown">
                            <div class="card-content">
                              <h4 class="card-title">Long Black</h4>
                              <p>
                                  Hot water is poured into a cup, and then two shots of espresso are poured into the water.
                                   If you do the inverse of this, it will result in an Americano.
                                   Long blacks can be quite strong, and have more crema (a creamy foam that tops espresso shots) than an Americano.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card" animateOnScroll animationName="animated slideInDown">
                              <div class="card-content">
                                <h4 class="card-title">Macchiato (also known as a Piccolo Latte)</h4>
                                <p>
                                    A macchiato is a shot of espresso which is then topped off with foamed milk dashed directly into the cup.
                                      Although it may sound similar to a cappuccino,
                                     it’s usually stronger as there’s no steamed milk added and it’s also smaller, usually served in an expresso sized cup.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="card" animateOnScroll animationName="animated slideInDown">
                                <div class="card-content">
                                  <h4 class="card-title">Mochaccino</h4>
                                  <p>
                                      A ‘mocha’ is just a latte with added chocolate powder or syrup, as well as sometimes being topped with whipped cream.
                                       If anything,
                                       this is a good entry level coffee – living in the worlds between the childlike hot chocolate and the adult café latte.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="card" animateOnScroll animationName="animated slideInDown">
                                  <div class="card-content">
                                    <h4 class="card-title">Irish Coffee</h4>
                                    <p>
                                        Too many of these and you might have to ‘just crash here, bro’, because this type of coffee is brewed with whiskey,
                                         sugar, and a thick layer of cream on the top – and isn’t readily available in New Zealand Café’s due to its alcohol content,
                                          they’re more often found in restaurants.
                                          Be warned that trying to make this with scotch and instant coffee doesn’t work… trust us.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-4">
                                  <div class="card" animateOnScroll animationName="animated slideInDown">
                                    <div class="card-content">
                                      <h4 class="card-title">Vienna</h4>
                                      <p>
                                          A Vienna is made by adding two shots of particularly strong espresso together before whipped cream is added
                                           as a substitute for milk and sugar.
                                           The Vienna is a melding of the strong flavours of straight espresso, with the smoothness of sugary cream.
                                      </p>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-xs-12 col-sm-4">
                                  <div class="card" animateOnScroll animationName="animated slideInDown">
                                    <div class="card-content">
                                      <h4 class="card-title">Affogato</h4>
                                      <p>
                                          Affogatos aren’t a coffee at all really, as they’re a shot of espresso poured over a desert (usually ice cream).
                                            That doesn’t make them any less delicious though
                                      </p>
                                    </div>
                                  </div>
                              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
</body>
</html>
