<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/css/mdb.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <app-navbar></app-navbar>
    <section class="header">
      <div class="container">
        <div class="text animated flash infinite">
          <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX18906054.jpg" alt="">
          <!-- <h1>Enjoy With Us With Types Of Modes</h1> -->
        </div>
      </div>
    </section>
    <section class="wrapper">
        <div class="container-fostrap">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="card" animateOnScroll animationName="animated rotateIn">
                                <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/03/96/72/2357edf1a481534.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">All Kinds Of Coffees</h4>
                                    <p class="">
                                        Coffee time has all kinds of Eastern and Western coffee
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="https://www.canstarblue.co.nz/food-drink/coffee-shop-chains/coffee-types-explained/" class="btn btn-link btn-block">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card" animateOnScroll animationName="animated rotateIn">
                                <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                                <img src="https://www.sayidaty.net/sites/default/files/styles/800x510/public/2017/05/16/2623991-349876921.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">The Finest Quality Coffees</h4>
                                    <p class="">
                                        Coffee time has the finest coffee that distinguishes us
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="https://www.javadistribution.com/roasts-coffee-characteristics/" class="btn btn-link btn-block">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="card" animateOnScroll animationName="animated rotateIn">
                                <a class="img-card" href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">
                                <img src="https://image.freepik.com/free-photo/coffee-background_1404-1453.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">We Have The Lowest Price</h4>
                                    <p class="">
                                        Coffee time offers the lowest prices to its customers
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="https://www.macrotrends.net/2535/coffee-prices-historical-chart-data" class="btn btn-link btn-block">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container" animateOnScroll animationName="animated zoomIn">
            <h1 class="text-center">About Us</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" animateOnScroll animationName="animated slideInDown">
          <h2 class="lead text-center">With everything from cherry trees to street art, punk bars and art galleries,
             Coffee-Time is where we work, live, and play. For us,
              coffee is a way to engage community, connect to place,
               and to build relationships. Our coffee reflects that.
                We roast in what once was a bicycle courier call centre,
                 and serve coffee and food in The Parsonage Cafe.
                  We’re more than a hole in the wall or a hyper­ refined downtown locale:
                   we’re a hub for the Coffee-Time community, a meeting place,
                    a routine morning stop, a weekend ritual, and an active member of our community.
                     Eclectic, bustling, and community driven, we strive to capture our experience of Coffee-Time in everything we do.</h2>
        </div>
      </div>
    </section>

    <!--Start Contact Us Section -->
    <!--Section: Contact v.2-->
<section class="mb-4 contacts" id="contacts">
  <div class="container" style="padding-top: 100px;">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">
        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" #name name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" #email name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" #subject name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" #message name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
            </form>
            <h5 class="alert alert-success animated fadeInDown {{alrt}}">'Your Data Is Sent ..Thanks !'</h5>
            <div class="text-center text-md-left">
                <a class="btn btn-primary" (click)="send(name,email,subject,message)">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Francisco, CA 94126, USA</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
    </div>
  </div>
</section>
<!--Section: Contact v.2-->
    <!--End Contact Us Section -->
    <app-footer></app-footer>
</body>
</html>
